.container {
	/* display: inline-block; */
	margin: 0 auto;
	width: 30%;
}

.input {
	display: block;
}

#button {
	display: block;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.bottom {
	border-bottom: 1px solid black;
}

